@media only screen and (max-width: 640px) {
  .item {
    width: 100%; }
    .item:last-of-type {
      margin-top: 0;
      margin-bottom: 0; } }

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .item {
    width: 40%;
    margin: 10px; } }

@media only screen and (min-width: 1024px) {
  .item {
    width: 28%;
    margin: 10px; } }
